---
layout: default
---

<div id="posts">
  {% if site.categories[page.category] %}
    {% for post in site.categories[page.category] %}
      {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if forloop.first %}
        <h3>{{ post_year }}</h3>
        <div class="post">
      {% endif %}

      {% if forloop.first == false %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.categories[page.category][previous_index].date | date: '%Y' }}{% endcapture %}
        {% if post_year != previous_post_year %}
          </div>
          <h3>{{ post_year }}</h3>
          <div class="post">
        {% endif %}
      {% endif %}

        {% if post.poster %}
        <img src="{{ post.poster}}" alt="">
        {% endif %}

        <h2 class="post-title">
          <a href="{{ post.url }}" class="list-group-item">
            {{ post.title }}
          </a>
        </h2>
        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.excerpt }}
        <a href="{{ post.url }}">Read more</a>

      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>There are no posts in this category.</p>
  {% endif %}
</div>
